<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Oriel Design - Organic clothing</title>
	<meta name="description" content="Hand-crafted organic clothing.">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD+x0v+x0v+x0v+x0v+x0v+x0v+x0v+x0v+x0v+x0v+x0v+x0v+x0v+x0v+x0v+x0sU1uE3AAAAEHRSTlMAECAwQFBgcICPn6+/z9/vIxqCigAAARNJREFUeAHt1luO7CAMBFCbB3mExLX/1V5dqUdyqxsJyn+jOf8pgTEm8itp2faa+c8Pw392KPf9jR9WhXDBIRIyPFNZ1B68uWRJdp9Tm+j4YFkWaPtcwq2ypAcTFIglVAQTdnxzciVwDpmFgUrUkOrpgpEzGoAkMxqGDuoUHYtuATUacM3PowGVCYaxtjBS+VZoCJ6DGsZKsBOwR5fQZcaGMW6mOEWCm9iJ55F66Nq4E6IJWSYVo4rgpI5vbu5PwUmyoHVuMjrazod7H5zUbq6MTrm5JTgHtYRBa6VowiWcbeJSTw7sR4WiFqyjVHcpOZ25U15GdBMnXiwJJRleeriOm3DyQ10qR3ejRotXz+f9IP78A48yQnVtn0ctAAAAAElFTkSuQmCC" type="image/png">

	<meta name="google-site-verification" content="vmoDsNQJG7rPDrEs0TWqfY2AzZq0esQYST3yIez8DlA" />
    
	<link rel="stylesheet" href="assets/css/styles.min.css">
</head>
<body>